<!DOCTYPE html>
<html style="font-size: {$_COOKIE['fontsize']|default='52px'};">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=no">
    <meta name="Keywords" content="{$web['meta_keywords']}" />
    <meta name="Description" content="{$web['meta_description']}" />
    <link rel="stylesheet" href="{$home_tplpath}css/style.css">
    <title>{$title}-{$ctitle}-{$web['meta_title']}</title>
</head>
<body>
    <div id="app">
       <div class="x-home">
            <div class="x-page__header van-hairline--bottom">
                <a href="javascript:history.back();"></a>
                <span class="x-page__title">{$title}</span>
                <div class="header-menu" onclick="javascript:location.href='/';">
                    <i class="icon-shouye-h is-active" style="font-size: 0.4rem;"></i>
                </div>
            </div>
            <div class="x-page__content">
                <div class="x-book__detail">
                    <div class="x-detail__top">
                        <div class="x-detail__book">
                            <div class="bg-blur" style="background: url('{$pic}') center top / cover no-repeat;"></div>
                            <div class="bg-blur__bg"></div>
                            <div class="x-book">
                                <div class="x-book__multi">
                                    <div class="x-book__coverbox">
                                        <img lazy="loaded" class="x-book__cover"src="{$pic}" style="width: 1.5rem; height: 2rem;">                    
                                    </div>
                                    <div class="x-book__text--multi" style="width: calc(100% - 1.5rem); height: 2rem;">
                                        <div class="x-detail__book--info">
                                            <p class="x-detail__info--title">{$title}</p>
                                            <p class="x-detail__info--author">{$author}</p>
                                            <p class="x-detail__info--words">字数：{$word_million}万字</p>
                                            <p class="x-detail__info--reads">
                                                阅读：{$hits}
                                                <span>{$serialize_text}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="x-detail__operator">
                                <span class="x-detail__operator--item" {$add_bookshelf}>加入书架</span>
                                <span class="to-read" onclick="javascript:location.href='{$reader_url}';">开始阅读</span>
                            </div>
                        </div>
                        <div class="x-detail__ticket">
                            <div class="x-detail__ticket--box">
                                <span {$digg['up_js']} class="x-detail__ticket--item van-hairline--right">
                                    {$digg['up']} <i>顶</i>
                                </span>
                                <span {$digg['down_js']} class="x-detail__ticket--item van-hairline--right">
                                    {$digg['down']} <i>踩</i>
                                </span>
                                <span class="x-detail__ticket--item">
                                    {$recommend}票 <i>推荐票</i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="x-detail__intro hr-bottom">
                        <div class="x-detail__intro--content">
                            {$content|raw|strip_tags}
                        </div>
                        <div class="x-detail__intro--tags">
                            {volist name="tag_array" id="vo"}
                            <span>{$vo}</span>
                            {/volist}
                        </div>
                    </div>
                    <div class="x-city__part x-detail__part hr-bottom">
                        <div class="x-part__title">
                            目录
                            <span class="x-catalog__total">(共{$chapter_count}章)</span>
                            <span class="x-catalog__update">更新于：{:time_format($chapter_time,'Y-m-d H:i',1)}</span>
                        </div>
                        <div class="x-part__content">
                            <a href="{$chapter_url}">
                                <div class="x-catalog__new">
                                    {$chapter_title}
                                    <span>最新</span>
                                </div>
                            </a>
                            <div class="x-catalog__list van-hairline--bottom">
                                {chapter id="chapter" order="id asc" limit="3"}
                                <a href="{$chapter['url']}"><p class="x-catalog__list--item">{$chapter['title']}</p></a>
                                {/chapter}
                            </div>
                            <div class="x-catalog__more">更多目录&gt;</div>
                        </div>
                    </div>
                    <div class="x-city__part x-detail__part hr-bottom">
                        <div class="x-part__content">
                            {comment size="12" /}
                        </div>
                    </div>
                    <div class="x-city__part x-detail__part hr-bottom">
                        <div class="x-part__title">同类作品</div>
                        <div class="x-part__content">
                            <div class="x-detail__part--book">
                                {novel id="novel" limit="3" cid="$cid" order="hits desc"}
                                <div class="x-book" style="width: 2rem;">
                                    <a href="{$novel['url']}" title="{$novel['title']}">
                                        <div class="x-book__coverbox">
                                            <img lazy="loaded" class="x-book__cover" src="{$novel['pic']}" style="width: 2rem; height: 2.66667rem;">
                                        </div>
                                        <div class="x-book__text--normal">{$novel['title']}</div>
                                    </a>
                                </div>
                                {/novel}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-line"></div>
        <footer class="index">
            <div class="m-right"><p>{$web['meta_title']}版权所有©2018-<span id="J_Copyright">2019</span></p></div>
        </footer>
    </div>
    <div class="chapter-list">
        <div class="x-page__header van-hairline--bottom">
            <a href="javascript:" id="chapter_back"></a>
            <span class="x-page__title">目录</span>
        </div>
        <div class="x-page__content">
            <div class="x-catalog">
                <div class="van-pull-refresh">
                    <div id="wrapper" class="van-pull-refresh__track">
                        <div class="x-catalog__list van-list">
                            {chapter id="chapter"}
                            <a href="{$chapter['url']}">
                                <p class="x-catalog__item">
                                    {$chapter['title']}
                                </p>
                            </a>
                            {/chapter}
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{$home_tplpath}js/jquery.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/global.js"></script>
</body>
</html>